#js-definition {
  display: none;
}

#operator-definition {
  display: none;
}

  #variable-definition {
    display: none;
}

#variable-nc-definition {
  display: none;
}

#function-definition {
  display: none;
}

#method-definition {
  display: none;
}

#argument-definition {
  display: none;
}

#parameter-definition {
  display: none;
}

#return-definition {
  display: none;
}

#chaining-definition {
  display: none;
}

#string-definition {
  display: none;
}

#boolean-definition {
  display: none;
}

#undefined-definition {
  display: none;
}

#nan-definition {
  display: none;
}

#null-definition {
  display: none;
}

#alert-definition {
  display: none;
}

#comment-definition {
  display: none;
}

#jquery-definition {
  display: none;
}

#attribute-definition {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}